.blog h2 {
    padding: 100px 0;
    text-align: center;
    color: $primary-color;
   
}

.blog-content {
    display: flex;
    justify-content: space-between;
    margin:20px;
    
}

.blog-1 {
    padding: 15px 55px;
    color:white;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 45px;
    color: $primary-color;
}


@media(max-width:791px) {
    .blog{
        padding: 30px;
     }
     .blog-content {
        flex-direction: column;
     }

     .blog-1 {
        padding: 0;
     }
    }