.horror{
    padding: 100px 0;
    background-color: $primary-color;
    position:relative;
}

.horror-content  p {
   text-align: center;
   color:white;

}

.horror-content h2 h3 {
    font-size: 55px;
    line-height: 70px;
    color: $primary-color;
    text-align: center;
    padding: 250px;
    margin-bottom: 15px;
}



.horror-group{
    margin-bottom: 50px;
}

.horror-1 img{
    display: flex;
    justify-content: space-between;
    color: $primary-color;
    font-size: 20px;
    margin-bottom: 15px;
}




@media(max-width:791px) {

        .horror .horror-content h2 {
            font-size: 40px; /* Tamaño de fuente más pequeño */
            margin: 100px 0; /* Margen superior e inferior reducido */
            padding: 30px;
            flex-direction: column;
            padding: 0;
        }
        
        .hands {
            display: none;
          
                 }

    }
