.horror{
    padding: 100px 0;
    background-color: $secondary-color;
    position:relative;
}

.horror-content {
   text-align: center;
   justify-content: space-between;
   margin: 1.5%;

}

.horror-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: $primary-color;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color:white;
    padding: 0 250px;
    margin-bottom: 35px;
}

.horror-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.horror-1 {
    padding: 0 25px;
    color:white;
}

.horror-1 img {
    width: 200px;
}

.horror-img {
    margin-top: 20px;
    position: sticky;
    top: 0;
    right: 0;
    padding: 20px;
}

.horror-img2{
    margin-top: 20px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px;
}

.horror-1 h3{
    color: $primary-color;
    font-size: 20px;
    margin-bottom: 15px;
}




@media(max-width:791px) {
    .horror .horror-content h2 {
        font-size: 40px; /* Tamaño de fuente más pequeño */
        margin: 120px 0; /* Margen superior e inferior reducido */
        padding: 30px;
        flex-direction: column;
        padding: 10px;
    }

     .horror-group {
        flex-direction: column;
        margin-bottom: 0px;
     }

     .horror-1{
       padding: 25px;
     margin:10%;
     
     }

     .hands  {
        display: none;
      
             }
         
            }
